.TopImage{
    width: 390pt;
    height: 422pt;
    background-image: url("../assets/Bouquet/MaskGroup.png");
   background-size: cover;

}
.mainDiv{
    margin: auto;
    width: 390pt;
    height: 844pt;
}
.crd{
    /* overflow: visible; */
    margin-top:-42pt;
    background-color: #FFFFFF;
    border-top-left-radius: 40pt;
    border-top-right-radius:40pt ;
    height: 464pt;
    
}
.custBtn{
    border-radius: 30pt;
    width: 100pt;
    height: 38pt;
    background-color: #E8E8E8;

    
}
.custBtn:hover{
    background-color: #E8E8E8;
}
.btnDiv{
    padding-left: 30pt;
    padding-top: 32pt;
}
.custBtn2{
    background-color: #EFC1A2;
    border-radius: 30pt;
    width: 100pt;
    height: 38pt;
}
.custBtn2:hover{
    background-color: #EFC1A2;
}
.contentBox{
    padding-left: 33pt;
    padding-top: 22.31pt;
}
.head{
    font-size: 20pt;
    font-family:SF Compact Display;
    color: black;
    font-weight: 700;
}
.subHead{
    height: 16pt;
    font-weight: 600;
}
.title{
    height: 19pt;
    font-weight: bold;
    font-style: SF Compact Display;
}
.Card{
    height: 176pt;
    width: 77pt;
    overflow: hidden;
    display: flex;
    border-radius: 20px;
}
.dis{
    overflow: hidden;
    padding-top: 41px;
    margin-left: -22pt;
}
.cardImg{
    width: 77pt;
    height: 52pt;
}
.cardBody{
background-color: #1E1E1E;
color: #FFFFFF;
height: 124pt;
}
.innerCard{
    height: 93pt;
    width: 38pt;
    border-radius: 50px;
    margin-top: -7px;
}

.increment{
    border-radius: 50px;
    background-color: #EFC1A2;
    color: #000000;
    height: 27pt;
    width: 27pt;
    
}
.increment:hover{
    background-color:#EFC1A2 ;
    color: #000000;
}
.decrement{
    border-radius: 50px;
    background-color: #1E1E1E;
    color: #EFC1A2;
    height: 27pt;
    width: 27pt;
    margin-top: -10px;
}
.decrement:hover{
    background-color: #1E1E1E;
    color: #EFC1A2;
}
.count{
    color: #1E1E1E;
    padding-top: 10px;
}
.innerDiv{
    padding-top: 7px;
}
.content{
    padding-right: 17px;
    font-family:SF Compact Display ;
}
.backBtn{
    height: 24pt;
    width: 20pt;
    background-color: #EFC1A2;
    border-radius: 5px;
    border: 0;
}
.backBtnDiv{
    padding-left: 30px;
    padding-top: 57px;
}
.backIcon{
   /* font-size: 25px; */
   font-weight: bolder;
   /* margin-right: 30px; */
}