.cartbgcolor {
  background-color: #1e1e1e;
  height: 400px;
}
.headingShop {
  font-size: 24px;
  display: flex;
  padding-top: 61px;
  margin-left: 120px;
  color: #efc1a2;
}
.field {
  background-color: white;
  /* width: 100%; */
  /* left:30px; */
  height: 400px;
  /* border-radius: 30px; */
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.classbutton {
  color: #1e1e1e;
  background-color: #efc1a2;
  width: 318px;
  height: 46px;
  /* padding-top: 746px; */
  margin-left: 26px;
  font-size: 18px;
  border-radius: 6px;
  border-color: white;

  /* margin-top: 10px; */
}
